@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* 设置全局背景色，防止加载时闪烁，颜色与App组件背景一致 */
  background-color: #F2F3F5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
